export(roc,            # create a ROC structure from supervised trials
       as.cst, cst.tnt,    # bless structure to be class "cst"
       as.roc,             # coerse into "roc"
       plot.roc, print.roc, summary.roc,       # standard ROC plot
       det.plot,                  # DET plot for a ROC or cst data.
       llr.plot,                  # optimal score->LLR mapping
       roc.plot,                  # plot.roc
#       det, det.sre, det.matrix,  # create DET statistics
#       read.sre, read.tnt, # read SRE, collection of supervised trials structure
       logit, sigmoid,                  # helper functions for probabilities
       eer, Cllr.tnt,                   # ROC convex hull implementation
#       summary.det, plot.det, plot.det.det,          # default summary and plot routines for "det"
#       calibrate,                       # calibration function
       train.logreg, train.cmlg,        #calibration functions
       predict.linearcalibration,
       plot.cond,
       legend.det,                      # make a legend for a DET plot
       ape.plot,                         # APE plot
       ece.tnt, ece.plot,
       bayes.error.rate, minDCF, actDCF,
       nbe.plot,                        # Normalized Bayes Error rate plot
       cond.table,                      # compute condition contingency table
       setDCF, prior.log.odds, getDCF,      # set DCF parameters
       tippet.plot, 
       ddensity, plot.ddensity
       )

