export(det, det.sre, det.matrix,        # create DET statistics
       read.sre, read.tnt,              # read SRE structure
       eer,                             # ROC convex hull implementation
       plot.det, summary.det,
       plot.cond,
       legend.det,                      # make a legend for a DET plot
       ape.plot,                        # APE plot
       nbe.plot,                        # Normalized Bayes Error rate plot
       cond.table,                      # comput condition contingency table
       setDCF                           # set DCF parameters
       )

